// ============================================
// Navbar - Restaurant System
// ============================================

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Navbar Base
// ============================================
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  
  &.sticky-top {
    position: sticky;
    top: 0;
    z-index: $z-index-sticky;
  }
}

// Navbar Dark
// ============================================
.navbar-dark {
  &.bg-dark {
    background-color: $primary-orange !important;
    box-shadow: $shadow-sm;
  }
  
  .navbar-nav .nav-link {
    @include navbar-link;
  }
}

// Navbar Light
// ============================================
.navbar-light {
  &.bg-white {
    background-color: $white !important;
    box-shadow: $shadow-sm;
  }
  
  .navbar-brand {
    color: $gray-900 !important;
  }
}

// Navbar Brand
// ============================================
.navbar-brand {
  @include navbar-brand;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  white-space: nowrap;
}

// Navbar Text
// ============================================
.navbar-text {
  color: $gray-600 !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

// Navbar Nav
// ============================================
.navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

// Nav Item
// ============================================
.nav-item {
  margin: 0;
}

// Nav Link
// ============================================
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: $transition-base;
}

// Navbar Toggler
// ============================================
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  
  &:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.25rem;
  }
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

// Navbar Collapse
// ============================================
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

// Navbar Expand
// ============================================
.navbar-expand-lg {
  @media (min-width: $breakpoint-lg) {
    flex-wrap: nowrap;
    justify-content: flex-start;
    
    .navbar-nav {
      flex-direction: row;
      
      .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }
    
    .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
    
    .navbar-toggler {
      display: none;
    }
  }
}

// Nav Pills
// ============================================
.nav-pills {
  .nav-link {
    border-radius: $border-radius-lg;
    color: $gray-600;
    padding: 8px 16px;
    margin-right: 8px;
    
    &.active {
      background-color: $primary-orange;
      color: $white;
    }
  }
}

// Scrolling Wrapper (for horizontal scroll)
// ============================================
.scrolling-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  
  &::-webkit-scrollbar {
    height: 6px;
  }
  
  &::-webkit-scrollbar-track {
    background: $gray-100;
  }
  
  &::-webkit-scrollbar-thumb {
    background: $gray-600;
    border-radius: 3px;
  }
}

// Dropdown
// ============================================
.dropdown-menu {
  position: absolute;
  z-index: $z-index-dropdown;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: $font-size-base;
  color: $text-dark;
  text-align: left;
  list-style: none;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: $border-radius;
  
  &.show {
    display: block;
  }
  
  &.dropdown-menu-end {
    right: 0;
    left: auto;
  }
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: $font-weight-normal;
  color: $text-dark;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  
  &:hover,
  &:focus {
    color: $primary-orange;
    background-color: $gray-50;
  }
}

.dropdown-toggle {
  &::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
}